In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=pd.DataFrame({
    'colors':['red','blue','green','green','blue','red']
})

In [3]:
df

  colors
0    red
1   blue
2  green
3  green
4   blue
5    red

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [5]:
encoded=encoder.fit_transform(df['colors'])

In [6]:
df_colors=pd.DataFrame(encoded,columns=['color'])

In [7]:
df=pd.concat([df,df_colors],axis=1)

In [8]:
df   ## that is label encoding in which we assign number to attribute

  colors  color
0    red      2
1   blue      0
2  green      1
3  green      1
4   blue      0
5    red      2

In [14]:
##let take an example of ordinal encoding

dfs=pd.DataFrame({
    'education_level':['high school','post graduate','graduate','intermediate','graduate','post graduate','high school','intermediate']
})

In [15]:
dfs

  education_level
0     high school
1   post graduate
2        graduate
3    intermediate
4        graduate
5   post graduate
6     high school
7    intermediate

In [18]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder(categories=[['high school','intermediate','graduate','post graduate']])

In [20]:
encoded=encoder.fit_transform(dfs[['education_level']])

In [21]:
df_encoded=pd.DataFrame(encoded,columns=['level'])

In [23]:
df=pd.concat([dfs,df_encoded],axis=1)

In [24]:
df

  education_level  level
0     high school    0.0
1   post graduate    3.0
2        graduate    2.0
3    intermediate    1.0
4        graduate    2.0
5   post graduate    3.0
6     high school    0.0
7    intermediate    1.0

In [26]:
encoder.transform([['post graduate']])

c:\Users\PC\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[3.]])