In [73]:
import pandas as pd
import numpy as np
import seaborn as sns

In [74]:
## now we do one hot encoding on tips datasets
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [76]:
## first we do encoding on sex
df['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [77]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [78]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded=encoder.fit_transform(df[['sex']]).toarray()

In [79]:
encoded_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [80]:
df=pd.concat([df,encoded_df],axis=1)

In [81]:
df.drop('sex',axis=1,inplace=True)

In [82]:
df.head()

   total_bill   tip smoker  day    time  size  sex_Female  sex_Male
0       16.99  1.01     No  Sun  Dinner     2         1.0       0.0
1       10.34  1.66     No  Sun  Dinner     3         0.0       1.0
2       21.01  3.50     No  Sun  Dinner     3         0.0       1.0
3       23.68  3.31     No  Sun  Dinner     2         0.0       1.0
4       24.59  3.61     No  Sun  Dinner     4         1.0       0.0

In [83]:
##now handle the smoker by one hot encoding
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   smoker      244 non-null    category
 3   day         244 non-null    category
 4   time        244 non-null    category
 5   size        244 non-null    int64
 6   sex_Female  244 non-null    float64
 7   sex_Male    244 non-null    float64
dtypes: category(3), float64(4), int64(1)
memory usage: 10.8 KB

In [84]:
df['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [85]:
encoder_smoker=OneHotEncoder()

In [86]:
encoded_smoker=encoder_smoker.fit_transform(df[['smoker']]).toarray()

In [87]:
encoded_smoker_df=pd.DataFrame(encoded_smoker,columns=encoder_smoker.get_feature_names_out())

In [88]:
df=pd.concat([df,encoded_smoker_df],axis=1)

In [89]:
df.head()

,total_bill,tip,smoker,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes
0,16.99,1.01,No,Sun,Dinner,2,1.0,0.0,1.0,0.0
1,10.34,1.66,No,Sun,Dinner,3,0.0,1.0,1.0,0.0
2,21.01,3.50,No,Sun,Dinner,3,0.0,1.0,1.0,0.0
3,23.68,3.31,No,Sun,Dinner,2,0.0,1.0,1.0,0.0
4,24.59,3.61,No,Sun,Dinner,4,1.0,0.0,1.0,0.0

In [90]:
df.drop('smoker',axis=1,inplace=True)

In [91]:
df.head()

,total_bill,tip,day,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes
0,16.99,1.01,Sun,Dinner,2,1.0,0.0,1.0,0.0
1,10.34,1.66,Sun,Dinner,3,0.0,1.0,1.0,0.0
2,21.01,3.50,Sun,Dinner,3,0.0,1.0,1.0,0.0
3,23.68,3.31,Sun,Dinner,2,0.0,1.0,1.0,0.0
4,24.59,3.61,Sun,Dinner,4,1.0,0.0,1.0,0.0

In [92]:
##now apply one hot encoding in day
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   day         244 non-null    category
 3   time        244 non-null    category
 4   size        244 non-null    int64
 5   sex_Female  244 non-null    float64
 6   sex_Male    244 non-null    float64
 7   smoker_No   244 non-null    float64
 8   smoker_Yes  244 non-null    float64
dtypes: category(2), float64(6), int64(1)
memory usage: 14.3 KB

In [93]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [94]:
encoder_day=OneHotEncoder()
encoded_day=encoder_day.fit_transform(df[['day']]).toarray()

In [95]:
day_df=pd.DataFrame(encoded_day,columns=encoder_day.get_feature_names_out())

In [96]:
df=pd.concat([df,day_df],axis=1)
df.drop('day',axis=1,inplace=True)

In [97]:
df.head()

,total_bill,tip,time,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur
0,16.99,1.01,Dinner,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,10.34,1.66,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
2,21.01,3.50,Dinner,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,23.68,3.31,Dinner,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4,24.59,3.61,Dinner,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [98]:
##finally encoded the time
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [102]:
encoder_time=OneHotEncoder()
encoded_time=encoder_time.fit_transform(df[['time']]).toarray()
df_time=pd.DataFrame(encoded_time,columns=encoder_time.get_feature_names_out())
df=pd.concat([df,df_time],axis=1)
df.drop('time',axis=1,inplace=True)

In [103]:
df.head()

,total_bill,tip,size,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,16.99,1.01,2,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,10.34,1.66,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,21.01,3.50,3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,23.68,3.31,2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,24.59,3.61,4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
df.info()
##here the data is finally encoded by one hot encoder

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   total_bill   244 non-null    float64
 1   tip          244 non-null    float64
 2   size         244 non-null    int64
 3   sex_Female   244 non-null    float64
 4   sex_Male     244 non-null    float64
 5   smoker_No    244 non-null    float64
 6   smoker_Yes   244 non-null    float64
 7   day_Fri      244 non-null    float64
 8   day_Sat      244 non-null    float64
 9   day_Sun      244 non-null    float64
 10  day_Thur     244 non-null    float64
 11  time_Dinner  244 non-null    float64
 12  time_Lunch   244 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 24.9 KB